{% include "base.html" %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1>Welcome</h1>
    </div>
      <ul class="nav navbar-nav">
        <li><a href="{{url_for('world')}}">World Feed</a></li>
        <li><a href="{{url_for('welcome')}}">My Feed</a></li>
        <li><a href="{{url_for('logout')}}">LogOut</a></li>
        <li><a href="{{url_for('message_page')}}">Wite message</a></li>
        <li><a href="{{url_for('show_friends')}}">Friends</a></li>
        <li>
        <div class="dropdown">
          <button class ="btn btn-default dropdown-toggle" type="button"
          data-toggle="dropdown">Notifacations<span
          class="caret"></span></button>
          <ul class="dropdown-menu">
            {% for note in notifacation %}
            <li><h1 id="sender" >{{note.action_user}}</h1> 
              <form class="navbar-form navbar-left"
              action="{{url_for('add_friend')}}" method=post> 
              <button class="btn btn-default" name="sent" type="submit" 
              value="{{note.action_user}}">add</button></form>
              <form class="navbar-form navbar-right"
              action="{{url_for('reject_friend')}}" method=post><button class
              ="btn btn-default" name="reject" type="submit"
              value="{{note.action_user}}">reject</button></form></li>
            {% endfor  %}
          </ul>
            </div>
        </li>
        <li><form class="navbar-form navbar-left" action="/search/"  name ="search_form">
        <div class="form-group">
          <input class="form-control" type="text" name ="search"
          placeholder="search someone">
        </div>
          <input class="btn btn-default"
          type="submit"value="Search"id="search_button">
          </form></li>
      </ul>
    </div>
</nav>
{% block body %}
{% endblock %}
