{% include "base.html" %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="nav navbar-header">
      <h1>Welcome</h1>
    </div>
      <ul class="nav navnar-nav">
        <li><a href="{{url_for('world')}}">World Feed</a></li>
        <li><a href="{{url_for('welcome')}}">My Feed</a></li>
        <li><a href="{{url_for('logout')}}">LogOut</a></li>
        <li><a href="{{url_for('message_page')}}">Wite message</a></li>
        <li><form class="navbar-form navbar-left" action="" method ="post" name ="search_form">
        <div class="form-group">
          <input class="form-control" type="text" name ="search"
          placeholder="search someone">
        </div>
          <input class="btn btn-default"
          type="submit"value="Search"id="search_button">
          </form></li>
      </ul>
    </div>
</nav>
{% block body %}
{% endblock %}
